.winners__table {
  & > thead {
    background-color: dodgerblue;
  }

  & th {
    padding: 8px;
  }
}
.table {
  &__btn {
    cursor: pointer;
    user-select: none;
    &.asc::after {
      content: '↑';
    }
    &.desc::after {
      content: '↓';
    }
  }
}
