@import '../../../sass/abstracts/_mixins.scss';

.winners {
  &__cars-count,
  &__pages-count {
    @include font($size: 25px);
  }

  &__pages-count {
    margin-bottom: 20px;
  }

  &__page-controls,
  &__views-controls {
    position: absolute;
    left: 0;
    z-index: 1;
  }

  &__page-controls {
    bottom: 25px;
  }
  &__views-controls {
    top: 25px;
  }
}
