@import '../../../../sass/abstracts/mixins';

.car-container {
  margin-bottom: 10px;

  &__settings {
    display: flex;
    margin-bottom: 10px;
  }

  &__title {
    margin-left: 20px;
    @include font($size: 25px);
  }

  &__track,
  &__controls {
    display: flex;
  }

  &__controls {
    margin-right: 20px;
  }

  &__track {
    justify-content: space-between;
    border-bottom: 5px dashed white;
  }

  &__flag {
    font-size: 50px;
    transform: translateX(-180px);
  }
}
